* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
    background: url("/background.jpg");

}

#mainWindow {
    height: 90%;
    width: 600px;
    margin: 20px auto;
    background-color: lightgray;
    opacity: 0.3;
    overflow: hidden;
}

#searchInput {
    width: 200px;
    height: 40px;
    margin: 20px 30px;
    font-size: 2rem;
    
}

    /* Main forecast */

main {
    margin-left: 10px;
}

#city, #temp{
    font-size: 3rem;
}

#date, #cond {
    font-size: 2rem;
}


    /* 4 day forecast */

#futureForecastGroup {
    display: flex;
    justify-content: space-around;
}

.futureDate {
    display: flex;
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: bold;
}

.futureEl {
    display: flex;

}

img {
    width: 60%;
    height: 60%;
}

.futureEl img {
    height: 80px;
    width: 100px;
}

#icon {
    width: 400px;
}

    /* Mobile */

@media only screen and (max-width: 420px) {
    #mainWindow {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    #futureForecastGroup {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }

    #futureForecastGroup div {
        margin: 0;
    }

    .futureEl {
        margin: 0px;
        padding: 0;
    }

    .futureEl img {
        height: 70px;
        width: 90px;
    }
}
